---
layout: default
---

{% for post in site.posts %}
{% if post.layout == "external" %}
<h2 class="title"><a href="{{ post.external_url }}">{{ post.title }} &#x2197;</a></h2>
<small>by {{ post.author }} on {{ post.date | date_to_string }}</small>
{% else %}
<h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
<small>by {{ post.author }} on {{ post.date | date_to_string }}</small>
{{ post.excerpt }}
{% if post.excerpt != post.content %}
<a href="{{ post.url }}">Read more</a>
{% endif %}
{% endif %}
<hr>
{% endfor %}
