@import "highlight.css";

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    max-width: 820px;
    margin: auto;
    padding: 20px;
    line-height: 1.5;
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
    color: #0366d6;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3 { 
    font-weight: normal;
}

p, ul {
    max-width: 720px;
}

pre {
    padding: 1rem;
    overflow: auto;
    border-top: 1px solid rgba(128, 128, 128, 0.4);
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}

code {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 85%;
    line-height: 1.45;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    overflow: auto;
}

th, td {
    padding: 6px 13px;
    border: 1px solid rgba(128, 128, 128, 0.2);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 720px;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.nav-item {
    display: inline-block;
    padding: 10px 15px;
}

.logo {
    height: 3rem;
    vertical-align: middle;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.footer {
    font-size: 0.75rem;
    padding: 20px;
    text-align: center;
}

.title {
    margin-bottom: -0.25rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(128, 128, 128, 0.2);
}

@media (prefers-color-scheme: dark) {
    body { background-color: #212529; color: #9ca5ad; }
    .logo { filter: invert(.9); }
    a { color: rgba(255,255,255,.75); }
    h1, h2, h3, .lead { color: #dee2e6; }
    .highlight { background-color: #171a1e; }
}
