---
# Default template for emudev.org
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
  </head>
  <body>
    <nav class="navbar">
      <a href="/"><img src="/assets/emudev.png" class="logo"></a>
      <ul class="nav-links">
        <li class="nav-item"><a href="/getting_started">Getting Started</a></li>
        <li class="nav-item"><a href="/articles">Articles</a></li>
        <li class="nav-item"><a href="/system_resources">System Resources</a></li>
        <li class="nav-item"><a href="https://discordapp.com/invite/dkmJAes"><b>Discord Chat</b></a></li>
        <li class="nav-item"><a href="/discord_related">More Discord Servers</a></li>
      </ul>
    </nav>
    <main>{{ content }}</main>
    <p class="footer"><a href="https://github.com/emudev-org/emudev.org">Website source</a> on github. Pull requests very welcome!</p>
  </body>
</html>
